@model traveltripproje.Models.Siniflar.blog
@{
    ViewBag.Title = "bloggetir";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("blogguncelle", "admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" , @readonly="readonly"})
    <br />
    @Html.LabelFor(x => x.baslik)
    @Html.TextBoxFor(x => x.baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.tarih)
    @Html.TextBoxFor(x => x.tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.blogimage)
    @Html.TextBoxFor(x => x.blogimage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.aciklama)
    @Html.TextAreaFor(x => x.aciklama,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Güncelle</button>
}

