@model traveltripproje.Models.Siniflar.yorumlar
@{
    ViewBag.Title = "yorumgetir";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("yorumguncelle", "admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.kullaniciadi)
    @Html.TextBoxFor(x => x.kullaniciadi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.mail)
    @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.yorum)
    @Html.TextAreaFor(x => x.yorum, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Yorum Güncelle</button>
}
